<h1>All Reviews: </h1>

<ol>
@foreach (Review review in Model)
{
<ul>
  <li>User Name: @review.UserName</li>
  <li>Location: @review.LocationCity, @review.LocationCountry</li>
</ul>
<a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
<br>
}
</ol>